# MongoDB
MONGODB_URI=mongodb://localhost:27017/market_vehiculos_db

# Servidor
PORT=4000
NODE_ENV=development

# JWT
JWT_SECRET=pon-aqui-una-clave-secreta-larga

# SendGrid
SENDGRID_API_KEY=
EMAIL_FROM=tu-correo@gmail.com

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=